{% extends "base.html" %}

{% block title %}&nbsp;|&nbsp;404 Not Found.{% endblock %}

{% block content %}
    <div id="page-404" data-role="page">
        <div data-role="header" data-position="fixed" data-theme="e">
            <a href="{% url 'main' %}" data-iconpos="notext" data-icon="gear" rel="external">ログイン画面</a>
            <h1 id="siteName">feedknot</h1>
        </div>

        <div data-role="content">
            <h2>お探しのページが見つかりません</h2>
            <div>
                <div class="error-messages">
                    お探しのページは一時的にアクセスできない状況にあるか<br />
                    移動もしくは削除された可能性があります。<br />
                </div>
            </div>
        </div>

        {# == 会社ロゴ  ========== #}
        <div data-role="footer" data-position="fixed">
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock %}