<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>feedknot{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/style.css?{{ QUERY_STRING }}" type="text/css"  >
    <link rel="stylesheet" href="/media/css/jquery/jquery.mobile-1.2.1.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% block include_css %}{% endblock %}
    <script src="https://www.google.com/jsapi"></script>
    <script src="/media/js/jquery-1.11.0.min.js"></script>
    <script src="/media/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/media/js/underscore-min.js"></script>
    <script src="/media/js/common.js?{{ QUERY_STRING }}"></script>
    <script src="/media/js/jquery.logging.js?{{ QUERY_STRING }}"></script>
    <script type="text/javascript">
    <!--
        var logger = $(window).logging({requestUrl: "{% url 'common_write_logging' %}",debug:{% if DEBUG_MODE %}true{% else %}false{% endif %}});
    //-->
    </script>
    {% block include_js %}{% endblock %}
    <script src="/media/js/jquery.mobile-1.2.1.min.js"></script>
</head>

<body>
    <div id="container">

        <div id="contents">
            {% block content %}{% endblock %}
        </div>

    </div>
</body>
</html>
