{% extends "base.html" %}

{% block title %}&nbsp;|&nbsp;不正なページ遷移{% endblock %}

{% block content %}
    <div id="page-error"  data-role="page">
        <div data-role="header" data-position="fixed" data-theme="e">
            <a href="{% url 'main' %}" data-iconpos="notext" data-icon="gear" rel="external">ログイン画面</a>
            <h1 id="siteName">feedknot</h1>
        </div>

        <div data-role="content">
            <h2>ページが表示できません</h2>
            <div>
                <div class="error-messages">
                    不正なページ遷移です。<br />
                    メニューより再アクセス頂きます様お願い致します。<br />
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
{% endblock %}