{% extends "base.html" %}

{% block title %}&nbsp;|&nbsp;サンプルページ(詳細){% endblock %}

{% block include_css %}
{% endblock %}
{% block include_js %}
{% endblock %}

{% block content %}
    <dt>
        {{ data.title }}
    </dt>

    <dd>
        {{ data.content}}
    </dd><br />

    <dd class="operation">
        <a href="{% url 'edit' data.id %}">編集</a>
        <a href="{% url 'delete' data.id %}">削除</a>
    </dd><br />

    <div class="operation">
        <a href="{% url 'index' %}">一覧に戻る</a>
    </div>
{% endblock %}