{% extends "base.html" %}

{# == ↓タイトル部分 ====================================== #}
{% block title %}&nbsp;|&nbsp;ログイン{% endblock %}
{# == ↑タイトル部分 ====================================== #}

{# == ↓スタイルシート部分 ====================================== #}
{% block include_css %}
{% endblock %}
{# == ↑スタイルシート部分 ====================================== #}

{% block include_js %}
<script type="text/javascript">
<!--
$(document).bind("mobileinit", function(){
    $.mobile.ajaxLinksEnabled = false; // Ajax を使用したページ遷移を無効にする
    $.mobile.ajaxFormsEnabled = false; // Ajax を使用したフォーム遷移を無効にする
});
//-->
</script>
{% endblock %}

{% block content %}
<div id="auth"  data-role="page">

    <div data-role="header" data-position="fixed" data-theme="e">
        <h1 id="siteName">feedknot</h1>
        <div class="ui-btn-right" style="top: 0px;">
            <a target="_blank" href="http://tech.r-jc.jp/feedknot/help/login.html"style="top: 0px;" data-icon="info" data-role="button" rel="external" data-transition="fade" data-iconpos="notext" data-inline="true">ヘルプ</a>
        </div>

    </div>

    <div data-role="content">
        {% load socialaccount %}

        <form class="login_form">
            {% if not user.is_authenticated and socialaccount.providers %}
                <div class="socialaccount_ballot">
                    <div>
                        {% for provider in socialaccount.providers|dictsort:"name" %}
                             <input type="button" value="{{provider.name}}アカウントでログイン" onclick="location.href='{% provider_login_url provider.id %}'" data-role="button" data-icon="arrow-r" data-theme="e" data-iconpos="right" data-transition="slide" />
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </form>
    </div>

    {# == 会社ロゴ  ========== #}
    <div data-role="footer" data-position="fixed">
        {% include 'footer.html' %}
    </div>

</div>
{% endblock %}
