{% extends "base.html" %}

{# == ↓タイトル部分 ====================================== #}
{% block title %}&nbsp;|&nbsp;管理{% endblock %}
{# == ↑タイトル部分 ====================================== #}

{# == ↓スタイルシート部分 ====================================== #}
{% block include_css %}
{% endblock %}
{# == ↑スタイルシート部分 ====================================== #}

{# == ↓ジャバスクリプト部分 ====================================== #}
{% block include_js %}
{% endblock %}
{# == ↑ジャバスクリプト部分 ====================================== #}

{# == ↓表示部分 ====================================== #}
{% block content %}

    <div id="commonEdit" data-role="page">

        {# jquery mobileによって非同期で読み込まれるので[data-role="page"]内に記述する #}
        <script src="/media/js/box.js?{{ QUERY_STRING }}"></script>
        <script type="text/javascript">
        <!--
            $(function(){
                $('#box-list').on('click', '.box-info .box_default', function(){
                    var box_id = $(this).attr('data-box-id');
                    editDefaultBox(box_id);
                });

                $('#box-list').on('click', '.box-info .edit-button', function(){
                    var box_id = $(this).attr('data-box-id');
                    var box_name = $('#box_name_'+box_id).val();
                    editBoxName(box_id, box_name);
                });

                $('#box-list').on('click', '.box-info .delete-button', function(){
                    var box_id = $(this).attr('data-box-id');
                    deleteBox(box_id);
                });

                $('#box-list').on('click', '.box-under-info .priority-icon', function(){
                    var box_id = $(this).parents('td.box-priority').attr('data-box-id');
                    var box_priority = $(this).attr('data-box-priority');
                    editBoxPriority(box_id, box_priority);
                });
            });
        //-->
        </script>

        {# == ヘッダ  ========== #}
        <div data-role="header" data-position="fixed" data-theme="e">
            <a href="{% url 'main' %}" data-iconpos="notext" data-icon="home" rel="external">ホーム</a>
            <H3>登録フィード</H3>
            <a href="{% url 'index' %}" data-prefetch="false" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="back">戻る</a>
        </div>
        {# == ↑ヘッダ  ========== #}

        {# == フィードメニュー  ========== #}
        <div data-role="content">

            <form id="box-edit-default-from" method="post" action="{% url 'box_edit_default' %}" name="box-edit-default-from">
                 <input type="hidden" id="default_box_id" name="box_id" value="" />
                 {% csrf_token %}
            </form>
            <form id="box-edit-name-from" method="post" action="{% url 'box_edit_name' %}" name="box-edit-name-from">
                 <input type="hidden" id="edit_name_box_id" name="box_id" value="" />
                 <input type="hidden" id="box_name" name="box_name" value="" />
                 {% csrf_token %}
            </form>
            <form id="box-edit-priority-from" method="post" action="{% url 'box_edit_priority' %}" name="box-edit-priority-from">
                 <input type="hidden" id="edit_priority_box_id" name="box_id" value="" />
                 <input type="hidden" id="box_priority" name="box_priority" value="" />
                 {% csrf_token %}
            </form>
            <form id="box-delete-form" method="post" action="{% url 'box_delete' %}" name="box-delete-form">
                 <input type="hidden" id="delete_box_id" name="box_id" value="" />
                 {% csrf_token %}
            </form>

            <table id="box-list" cellspacing="0" width="100%">
                {% for box in box_list %}
                    <tr class="box-info" bgcolor="silver">
                        <td width="80%" nowrap>
                            <div style="display: table-cell; vertical-align: middle;" >
                                {% if box.id == default_box_id %}
                                    <input type="radio" data-box-id="{{box.id}}" name="box_default" class="box_default" style="margin-left: -20px; -webkit-transform: scale(2); transform: scale(2); " checked/>
                                {% else %}
                                    <input type="radio" data-box-id="{{box.id}}" name="box_default" class="box_default" style="margin-left: -20px; -webkit-transform: scale(2); transform: scale(2); "/>
                                {% endif %}
                            </div>
                            <div style="display: table-cell; vertical-align: middle;" id="box_edit">
                                <textarea id="box_name_{{box.id}}" class="box_name" name="box_name" ROWS="1" style="margin-left: 20px; ">{{ box.box_name }}</textarea>
                            </div>
                        </td>
                        <td width="10%" nowrap>
                            <img class="edit-button" style="margin-left:10px;" data-box-id="{{box.id}}" src="/media/drawable/ic_edit.png?{{ QUERY_STRING }}" alt="edit" width="50" height="50">
                        </td>
                        <td width="10%" nowrap>
                            <img class="delete-button" style="margin-left:10px;" data-box-id="{{box.id}}" src="/media/drawable/ic_delete.png?{{ QUERY_STRING }}" alt="delete" width="50" height="50">
                        </td>
                    </tr>
                    <tr class="box-under-info" bgcolor="silver">
                        <td class="box-priority" data-box-id="{{box.id}}" align="right" width="100%" height="8%" border-bottom>
                            <span class="priority-icon" data-box-priority="3">{% if box.box_priority <= 3 %}★{% else %}☆{% endif %}</span><!--
                            --><span class="priority-icon" data-box-priority="2">{% if box.box_priority <= 2 %}★{% else %}☆{% endif %}</span><!--
                            --><span class="priority-icon" data-box-priority="1">{% if box.box_priority == 1 %}★{% else %}☆{% endif %}</span><!--
                            -->現優先度{{box.box_priority}}
                        </td>
                        <td colspan="2"align="right" ><a href="{% url 'feed_list' box.id %}" rel="external">フィード管理</a></td>
                    </tr>
                    <tr><td colspan="3"><hr></td></tr>
                {% endfor %}
            </table>
            <br />
            </ br>
            <div Align="right">
                <a style="right:20px;" href="{% url 'box_add' %}" rel="external">BOX追加</a>
            </div>
        </div>
        {# == ↑フィードメニュー  ========== #}

        {# == フッタ  ========== #}
        {% include 'footer.html' %}
        <script type="text/template" id="box-list-template">
            <% _.each(box_list, function(box) { %>
                <tr class="box-info" bgcolor="silver">
                    <td width="80%" nowrap>
                        <% if (box.id == default_box_id) { %>
                            <input type="radio" data-box-id="<%= box.id %>" name="box_default" class="box_default" style="margin-left: -20px; -webkit-transform: scale(2); transform: scale(2); " checked/>
                        <% } else { %>
                            <input type="radio" data-box-id="<%= box.id %>" name="box_default" class="box_default" style="margin-left: -20px; -webkit-transform: scale(2); transform: scale(2); "/>
                        <% } %>
                        <div style="display: table-cell; vertical-align: middle;" id="box_edit">
                            <textarea id="box_name_<%= box.id %>" class="box_name" name="box_name" ROWS="1" style="margin-left: 20px; "><%= box.box_name %></textarea>
                        </div>
                    </td>
                    <td width="10%" nowrap>
                        <img class="edit-button" style="margin-left:10px;" data-box-id="<%= box.id %>" src="/media/drawable/ic_edit.png?{{ QUERY_STRING }}" alt="edit" width="50" height="50">
                    </td>
                    <td width="10%" nowrap>
                        <img class="delete-button" style="margin-left:10px;" data-box-id="<%= box.id %>" src="/media/drawable/ic_delete.png?{{ QUERY_STRING }}" alt="delete" width="50" height="50">
                    </td>
                </tr>
                <tr class="box-under-info" bgcolor="silver">
                    <td class="box-priority" data-box-id="<%= box.id %>" align="right" width="100%" height="8%" border-bottom>
                        <span class="priority-icon" data-box-priority="3"><% if (box.box_priority <= 3) { %>★<% } else { %>☆<% } %></span><!--
                        --><span class="priority-icon" data-box-priority="2"><% if (box.box_priority <= 2) { %>★<% } else { %>☆<% } %></span><!--
                        --><span class="priority-icon" data-box-priority="1"><% if (box.box_priority == 1) { %>★<% } else { %>☆<% } %></span><!--
                        -->現優先度<%= box.box_priority %>
                    </td>
                    <td colspan="2"align="right" ><a href="<%= box.feed_list_url %>" rel="external">フィード管理</a></td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
            <% }); %>
            <div Align="right">
                <a style="right:20px;" href="{% url 'box_add' %}" rel="external">BOX追加</a>
            </div>
        </script>
    </div>

{% endblock %}
{# == ↑表示部分 ====================================== #}
