{% extends "base.html" %}

{# == ↓タイトル部分 ====================================== #}
{% block title %}&nbsp;|&nbsp;管理{% endblock %}
{# == ↑タイトル部分 ====================================== #}

{# == ↓スタイルシート部分 ====================================== #}
{% block include_css %}
<style type="text/css">
#popupMsg {
    color: red;
    font-weight: bolder;
}
</style>
{% endblock %}
{# == ↑スタイルシート部分 ====================================== #}

{# == ↓ジャバスクリプト部分 ====================================== #}
{% block include_js %}
{% endblock %}
{# == ↑ジャバスクリプト部分 ====================================== #}

{# == ↓表示部分 ====================================== #}
{% block content %}

    <div id="commonEdit" data-role="page">

        {# jquery mobileによって非同期で読み込まれるので[data-role="page"]内に記述する #}
        <script src="/media/js/box.js?{{ QUERY_STRING }}"></script>
        <script type="text/javascript">
        <!--
            $(function(){
                $('#box-list').on('click', '.box-info .box_default', function(){
                    var box_id = $(this).attr('data-box-id');

                    for (var i = 0; i < $('.box_default').length; i++) {
                        var box = $('.box_default').eq(i)
                        if (box_id == box.attr('data-box-id')) {
                            box.attr('src', "/media/drawable/ic_box_default.png");

                        } else if ("/media/drawable/ic_box_default.png" == box.attr('src')) {
                            box.attr('src', "/media/drawable/ic_box.png");
                        }
                    }
                    editDefaultBox(box_id);
                });

                $('#box-list').on('click', '.box-info .edit-button', function(){
                    var box_id = $(this).attr('data-box-id');
                    var box_name = $('#box_name_'+box_id).val();
                    editBoxName(box_id, box_name);
                });

                $('#box-list').on('click', '.box-info .delete-button', function(){
                    if (confirm("ボックスを削除します。宜しいですか？")) {
                        var box_id = $(this).attr('data-box-id');
                        deleteBox(box_id);
                    }
                });

                $('#box-list').on('click', '.box-under-info .priority-icon', function(){
                    var box_id = $(this).parents('td.box-priority').attr('data-box-id');
                    var box_priority = $(this).attr('data-box-priority');
                    editBoxPriority(box_id, box_priority);
                });
            });
        //-->
        </script>

        {# == ヘッダ  ========== #}
        <div data-role="header" data-position="fixed" data-theme="e">
            <a href="{% url 'main' %}" data-iconpos="notext" data-icon="home" rel="external">メイン画面</a>
            <H3>登録フィード</H3>
            <div class="ui-btn-right" style="top: 0px;">
                {# メニュー削除により戻るボタンコメントアウト #}
                {# <a href="{% url 'index' %}" style="top: 0px;" data-role="button" rel="external" data-prefetch="false" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="back" data-inline="true">戻る</a> #}
                <a target="_blank" href="http://tech.r-jc.jp/feedknot/help/common_edit.html"style="top: 0px;" data-icon="info" data-role="button" rel="external" data-transition="fade" data-iconpos="notext" data-inline="true">ヘルプ</a>
                <a href="{% url 'account_logout' %}"style="top: 0px;" data-role="button" rel="external" data-transition="fade" data-iconpos="notext" data-icon="delete" data-inline="true">ログアウト</a>        </div>
            </div>
        {# == ↑ヘッダ  ========== #}

        {# == ↓ポップアップ内容  ========== #}
        <div data-role="popup" id="popupNotice">
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content" id="popupMsg">
            </div>
        </div>
        {# == ↑ポップアップ内容  ========== #}

        {# == フィードメニュー  ========== #}
        <div data-role="content">

            <form id="box-edit-default-from" method="post" action="{% url 'box_edit_default' %}" name="box-edit-default-from">
                 <input type="hidden" id="default_box_id" name="box_id" value="" />
                 {% csrf_token %}
            </form>
            <form id="box-edit-name-from" method="post" action="{% url 'box_edit_name' %}" name="box-edit-name-from">
                 <input type="hidden" id="edit_name_box_id" name="box_id" value="" />
                 <input type="hidden" id="box_name" name="box_name" value="" />
                 {% csrf_token %}
            </form>
            <form id="box-edit-priority-from" method="post" action="{% url 'box_edit_priority' %}" name="box-edit-priority-from">
                 <input type="hidden" id="edit_priority_box_id" name="box_id" value="" />
                 <input type="hidden" id="box_priority" name="box_priority" value="" />
                 {% csrf_token %}
            </form>
            <form id="box-delete-form" method="post" action="{% url 'box_delete' %}" name="box-delete-form">
                 <input type="hidden" id="delete_box_id" name="box_id" value="" />
                 {% csrf_token %}
            </form>

            <table id="box-list" cellspacing="0" width="100%">
                {% for box in box_list %}
                    <tr class="box-info" bgcolor="silver" valign="middle">
                        <td width="2%" nowrap >
                            {% if box.id == default_box_id %}
                                <img data-box-id="{{box.id}}" src="/media/drawable/ic_box_default.png" width="50" height="50" name="box_default" class="box_default" style="display:inline; vertical-align:middle; " />
                            {% else %}
                                <img data-box-id="{{box.id}}" src="/media/drawable/ic_box.png" width="50" height="50" name="box_default" class="box_default" style="display:inline; vertical-align:middle; " />
                            {% endif %}
                        </td>
                        <td nowrap>
                            <textarea id="box_name_{{box.id}}" class="box_name" name="box_name" ROWS="1" style="margin-left:10px; display:inline; vertical-align:middle; ">{{ box.box_name }}</textarea>
                        </td>
                        <td width="2%" nowrap >
                            <img class="edit-button" style="margin-left:20px; display:inline; vertical-align:middle; " data-box-id="{{box.id}}" src="/media/drawable/ic_edit.png?{{ QUERY_STRING }}" alt="edit" width="50" height="50">
                        </td>
                        <td width="2%" nowrap >
                            <img class="delete-button" style="margin-left:10px; display:inline; vertical-align:middle; " data-box-id="{{box.id}}" src="/media/drawable/ic_delete.png?{{ QUERY_STRING }}" alt="delete" width="50" height="50">
                        </td>
                    </tr>
                    <tr class="box-under-info" bgcolor="silver">
                        <td colspan="2" class="box-priority" data-box-id="{{box.id}}" align="right" width="100%" height="8%" border-bottom>
                            <div data-role="controlgroup" data-type="horizontal" data-mini="true" align="right">
                                {% for priority in box_priority_array %}
                                    <div class="priority-icon" data-box-priority="{{priority}}"
                                        {% if priority >= box.box_priority %}
                                            <a href="#" data-role="button" data-icon="star" data-iconpos="notext" data-theme="e" </a>
                                        {% else %}
                                            <a href="#" data-role="button" data-icon="star" data-iconpos="notext"</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                        <td colspan="2" align="right" ><a href="{% url 'feed_list' box.id %}" rel="external">フィード管理</a></td>
                    </tr>
                    <tr><td colspan="4"><hr></td></tr>
                {% endfor %}
            </table>
            <br />
            </ br>
            <div Align="right">
                <a href="{% url 'box_add' %}" data-role="button" data-inline="true"
                   data-icon="add" data-theme="e" rel="external">BOXを追加</a>
            </div>
        </div>
        {# == ↑フィードメニュー  ========== #}

        {# == フッタ  ========== #}
        {# == 会社ロゴ  ========== #}
        <div data-role="footer" data-position="fixed">
            {% include 'footer.html' %}
        </div>

        <script type="text/template" id="box-list-template">
            <% _.each(box_list, function(box) { %>
                    <tr class="box-info" bgcolor="silver" valign="middle">
                        <td width="2%" nowrap >
                            <% if ( box.id == default_box_id ) { %>
                                <img data-box-id="<%= box.id %>" src="/media/drawable/ic_box_default.png" width="50" height="50" name="box_default" class="box_default" style="display:inline; vertical-align:middle; " />
                            <% } else { %>
                                <img data-box-id="<%= box.id %>" src="/media/drawable/ic_box.png" width="50" height="50" name="box_default" class="box_default" style="display:inline; vertical-align:middle; " />
                            <% } %>
                        </td>
                        <td nowrap>
                            <textarea id="box_name_<%= box.id %>" class="box_name" name="box_name" ROWS="1" style="margin-left:10px; display:inline; vertical-align:middle; "><%= box.box_name %></textarea>
                        </td>
                        <td width="2%" nowrap >
                            <img class="edit-button" style="margin-left:20px; display:inline; vertical-align:middle; " data-box-id="<%= box.id %>" src="/media/drawable/ic_edit.png?{{ QUERY_STRING }}" alt="edit" width="50" height="50">
                        </td>
                        <td width="2%" nowrap >
                            <img class="delete-button" style="margin-left:10px; display:inline; vertical-align:middle; " data-box-id="<%= box.id %>" src="/media/drawable/ic_delete.png?{{ QUERY_STRING }}" alt="delete" width="50" height="50">
                        </td>
                    </tr>
                    <tr class="box-under-info" bgcolor="silver">
                        <td colspan="2" class="box-priority" data-box-id="<%= box.id %>" align="right" width="100%" height="8%" border-bottom>
                            <div data-role="controlgroup" data-type="horizontal" data-mini="true" align="right">
                                <% _.each(box_priority_array, function(priority) { %>
                                    <div class="priority-icon" data-box-priority="<%= priority %>"
                                        <% if ( priority >= box.box_priority ) { %>
                                            <a href="#" data-role="button" data-icon="star" data-iconpos="notext" data-theme="e" </a>
                                        <% } else { %>
                                            <a href="#" data-role="button" data-icon="star" data-iconpos="notext"</a>
                                        <% } %>
                                    </div>
                                <% }); %>
                            </div>
                        </td>
                        <td colspan="2" align="right" ><a href="<%= box.feed_list_url %>" rel="external">フィード管理</a></td>
                    </tr>
                <tr><td colspan="4"><hr></td></tr>
            <% }); %>
            <div Align="right">
                <a href="{% url 'box_add' %}" data-role="button" data-inline="true"
                   data-icon="add" data-theme="e" rel="external">BOXを追加</a>
            </div>
        </script>
    </div>

{% endblock %}
{# == ↑表示部分 ====================================== #}
