{% extends "base.html" %}

{# == ↓タイトル部分 ====================================== #}
{% block title %}&nbsp;|&nbsp;フィード{% endblock %}
{# == ↑タイトル部分 ====================================== #}

{# == ↓スタイルシート部分 ====================================== #}
{% block include_css %}
<style type="text/css">
.ui-li-feed{
    height: 2em;
}
.ui-grid-feed .ui-block-a,
.ui-grid-feed .ui-block-b,
.ui-grid-feed .ui-block-c {
    align-vertical: middle;
}
.ui-grid-feed .ui-block-c{
    float: right;
    width: 82px;
}
.ui-feed-name{
    height: 2em;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
</style>
{% endblock %}
{# == ↑スタイルシート部分 ====================================== #}

{# == ↓ジャバスクリプト部分 ====================================== #}
{% block include_js %}
<script type="text/javascript">
<!--
    $(function() {
        $(document).on('pagecreate', '#main', function(){
            //$(document).on('tap', '.ui-feed-del', viewConfirm);

            // 削除ボタンが枠外にはみ出さない為のフィード名サイズ調整
            $(window).resize(function() {
                resizeFeedName();
            });

            $(window).load(function() {
                resizeFeedName();
            });
        });
    });

    function resizeFeedName() {
        var parentWidth = $(".ui-li-feed").width();
        var delWidth = $(".ui-feed-del").width();
        $(".ui-feed-name").each(function() {
            $(this).css("width",(parentWidth - delWidth - 20) + "px");
        });
    }

    function viewConfirm(feed_id) {
        if (confirm("フィードを削除します。宜しいですか？")) {
            deleteFeed(feed_id);
        }
        //$("#popupConfirm").popup("open");
        //$("#del-feed-id").val(feed_id);
    }

    function deleteFeed(feed_id) {
        if (!startLoadingEffect("Adding...")) {
            return;
        }
        //var feed_id = $("#del-feed-id").val();

        var $deleteFeedForm = $('#feed-delete-form');
        $('#feed_id').val(feed_id);

        $.ajax({
            type: 'POST',
            url: $deleteFeedForm.attr('action'),
            data: $deleteFeedForm.serialize(),
            dataType: "json",
            success: function(data, status) {
                if (data.result == "success") {
                    var template  = _.template($('#feed-list-template').text());
                    $("#feed-list").html(template(data)).listview('refresh');
                    $(".ui-grid-feed").trigger("create");
                } else {
                    logger.error(data.message);
                }
            },
            error: function(XMLHttpRequest, statusText, errorThrown) {
                var errorMsg="Javascript Error:"+XMLHttpRequest.status+" "+XMLHttpRequest.statusText+", ";
                errorMsg=errorMsg+"error detail: "+errorThrown;
                logger.error(errorMsg);
            },
            complete: function() {
                finishLoadingEffect();
                resizeFeedName();
            }
        });
    }
//-->
</script>
{% endblock %}
{# == ↑ジャバスクリプト部分 ====================================== #}

{# == ↓表示部分 ====================================== #}
{% block content %}
    <div id="main"  data-role="page">
    <input type="hidden" id="del-feed-id" value="" />

        {# == タイトルバー ========== #}
        <div data-role="header" data-position="fixed" data-theme="e">
            {# メイン画面ボタン #}
            <a href="{% url 'main' %}" data-iconpos="notext" data-icon="home" rel="external">メイン画面</a>

            {# タイトル #}
            <h1 id="title">{{box_name}}</h1>

            <div class="ui-btn-right" style="top: 0px;">
                {# 戻るボタン #}
                <a href="{% url 'common_edit' %}" style="top: 0px;" data-role="button" rel="external" data-iconpos="notext" data-icon="back"  data-inline="true">戻る</a>
                <a href="{% url 'account_logout' %}"style="top: 0px;" data-role="button" rel="external" data-transition="fade" data-iconpos="notext" data-icon="delete" data-inline="true">ログアウト</a>
            </div>
        </div> <!-- header -->

        {# == ↓ポップアップ内容  ========== #}
        <div data-role="popup" id="popupConfirm">
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content" id="popupMsg">
            </div>
        </div>
        {# == ↑ポップアップ内容  ========== #}

        {# == ↓フィード情報  ========== #}
        <div data-role="content">
            <form id="feed-delete-form" method="post" action="{% url 'feed_delete' box_id %}">
                 <input type="hidden" id="feed_id" name="feed_id" value="" />
                 {% csrf_token %}
            </form>
            <ul id="feed-list" data-role="listview" data-divider-theme="e" data-inset="true" data-filter="true">
            {% for feed in feed_list %}
                <li data-theme="c" class="ui-li-feed">
                    <div width="100%">
                    <div class="ui-grid-feed">
                        <div class="ui-block-a ui-feed-name">
                            {{feed.feed_name|striptags}}
                        </div>
                        <div class="ui-block-c ui-feed-del">
                            <a href="#" data-role="button" data-inline="true" rel="external"
                               data-icon="delete" data-theme="e" data-mini="true" class="deleteButton"
                               onclick="viewConfirm({{feed.id}})">削除</a>
                        </div>
                    </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <div align="right">
            <a href="{% url 'feed_search' box_id %}" data-role="button" data-inline="true"
               data-icon="add" data-theme="e" rel="external">フィードを追加</a>
            </div>
        </div>
        {# == ↑フィード情報  ========== #}

        {# == 会社ロゴ  ========== #}
        <div data-role="footer" data-position="fixed">
            {% include 'footer.html' %}
        </div>
    </div> <!-- main -->

    <script type="text/template" id="feed-list-template">
        <% _.each(feed_list, function(feed) { %>
                <li data-theme="c" class="ui-li-feed">
                    <div width="100%">
                    <div class="ui-grid-feed">
                        <div class="ui-block-a ui-feed-name">
                            <%= feed.feed_name %>
                        </div>
                        <div class="ui-block-c ui-feed-del" align="right">
                            <a href="#" data-role="button" data-inline="true"
                               data-icon="delete" data-theme="e" data-mini="true"
                               onclick="viewConfirm(<%= feed.id %>)">削除</a>
                        </div>
                    </div>
                    </div>
                </li>
        <% }); %>
    </script>
{% endblock %}
{# == ↑表示部分 ====================================== #}
