{% extends "base.html" %}

{# == ↓タイトル部分 ====================================== #}
{% block title %}&nbsp;|&nbsp;フィード{% endblock %}
{# == ↑タイトル部分 ====================================== #}

{# == ↓スタイルシート部分 ====================================== #}
{% block include_css %}
<style type="text/css">
.ui-li-feed{
    height: 2em;
}
.ui-grid-feed .ui-block-a{
    width: 60%;
    align-vertical: middle;
}
.ui-grid-feed .ui-block-b{
    width: 150px;
    align-vertical: middle;
}
.ui-grid-feed .ui-block-c{
    width: 50px;
    align-vertical: middle;
}
</style>
{% endblock %}
{# == ↑スタイルシート部分 ====================================== #}

{# == ↓ジャバスクリプト部分 ====================================== #}
{% block include_js %}
<script type="text/javascript">
<!--
    function deleteFeed(feed_id) {
        if (!startLoadingEffect("Adding...")) {
            return;
        }

        var $deleteFeedForm = $('#feed-delete-form');
        $('#feed_id').val(feed_id);

        $.ajax({
            type: 'POST',
            url: $deleteFeedForm.attr('action'),
            data: $deleteFeedForm.serialize(),
            dataType: "json",
            success: function(data, status) {
                if (data.result == "success") {
                    var template  = _.template($('#feed-list-template').text());
                    $("#feed-list").html(template(data)).listview('refresh');
                    $(".ui-grid-feed").trigger("create");
                } else {
                    logger.error(data.message);
                }
            },
            error: function(XMLHttpRequest, statusText, errorThrown) {
                var errorMsg="Javascript Error:"+XMLHttpRequest.status+" "+XMLHttpRequest.statusText+", "
                errorMsg="error detail: "+errorThrown
                logger.error(errorMsg);
            },
            complete: function() {
                finishLoadingEffect();
            }
        });
    }

    /*
    * プライオリティ変更
    */
    function changePriority(id, priority) {
        var priorityList = {{feed_priority}};

        for (var i in priorityList) {
            var p = priorityList[i];

            var pCss = "c";    // off
            if (priority <= p) {
                pCss = "e";    // on
            }
            $("#feedPriority" + id + "-" + p)
//            .button({theme: pCss})
            .attr("data-theme", pCss);
//            .trigger( "create" );
//            alert("p:" + p + ",theme:" + pCss);
        }
        $(".feedPriorityGroup").trigger("create");
    }
//-->
</script>
{% endblock %}
{# == ↑ジャバスクリプト部分 ====================================== #}

{# == ↓表示部分 ====================================== #}
{% block content %}
    <div id="main"  data-role="page">

        {# == タイトルバー ========== #}
        <div data-role="header" data-position="fixed" data-theme="e">
            {# ホームボタン #}
            <a href="{% url 'main' %}" data-iconpos="notext" data-icon="home" rel="external">ホーム</a>

            {# タイトル #}
            <h1 id="title">{{box_name}}</h1>

            {# 戻るボタン #}
            <a href="{% url 'common_edit' %}" data-iconpos="notext" data-icon="back" rel="external">戻る</a>
        </div> <!-- header -->

        {# == ↓ポップアップ内容  ========== #}
        <div data-role="popup" id="popupNotice">
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content" id="popupMsg">
            </div>
        </div>
        {# == ↑ポップアップ内容  ========== #}

        {# == ↓フィード情報  ========== #}
        <div data-role="content">
            <form id="feed-delete-form" method="post" action="{% url 'feed_delete' box_id %}">
                 <input type="hidden" id="feed_id" name="feed_id" value="" />
                 {% csrf_token %}
            </form>
            <ul id="feed-list" data-role="listview" data-divider-theme="e" data-inset="true" data-filter="true">
            {% for feed in feed_list %}
                <li data-theme="c" class="ui-li-feed">
                    <div width="100%">
                    <div class="ui-grid-feed">
                        <div class="ui-block-a">
                            {{feed.feed_name|striptags}}
                        </div>
                        <div class="ui-block-b feedPriorityGroup" data-role="controlgroup"
                             data-type="horizontal" data-mini="true" align="right">
                            {% for priority in feed_priority %}
                                {% if priority >= feed.feed_priority %}
                                    <a href="#" data-role="button" data-icon="star" data-iconpos="notext"
                                       data-theme="e" id="feedPriority{{feed.id}}-{{priority}}"
                                       onclick="changePriority({{feed.id}}, {{priority}})">{{ priority }}</a>
                                {% else %}
                                    <a href="#" data-role="button" data-icon="star" data-iconpos="notext"
                                       onclick="changePriority({{feed.id}}, {{priority}})"
                                       id="feedPriority{{feed.id}}-{{priority}}">{{ priority }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="ui-block-c" align="right">
                            <a href="#" data-role="button" data-inline="true" rel="external"
                               data-icon="delete" data-theme="e" data-mini="true" class="deleteButton"
                               onclick="deleteFeed({{feed.id}})">削除</a>
                        </div>
                    </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <div align="right">
            <a href="{% url 'feed_search' box_id %}" data-role="button" data-inline="true"
               data-icon="add" data-theme="e" rel="external">フィードを追加</a>
            </div>
        </div>
        {# == ↑フィード情報  ========== #}

        {# == 会社ロゴ  ========== #}
        {% include 'footer.html' %}
    </div> <!-- main -->

    <script type="text/template" id="feed-list-template">
        <% _.each(feed_list, function(feed) { %>
                <li data-theme="c" class="ui-li-feed">
                    <div width="100%">
                    <div class="ui-grid-feed">
                        <div class="ui-block-a">
                            <%= feed.feed_name %>
                        </div>
                        <div class="ui-block-b feedPriorityGroup" data-role="controlgroup"
                             data-type="horizontal" data-mini="true" align="right">
                            <% for (var i in feed_priority) {
                                var priority = feed_priority[i];%>
                                <% if (priority >= feed.feed_priority) { %>
                                    <a href="#" data-role="button" data-icon="star" data-iconpos="notext"
                                       data-theme="e" id="feedPriority<%=feed.id%>-<%=priority%>"
                                       onclick="changePriority(<%=feed.id%>, <%=priority%>)"><%= priority %></a>
                                <% } else { %>
                                    <a href="#" data-role="button" data-icon="star" data-iconpos="notext"
                                       onclick="changePriority(<%=feed.id%>, <%=priority%>)"
                                       id="feedPriority<%=feed.id%>-<%=priority%>"><%= priority %></a>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="ui-block-c" align="right">
                            <a href="#" data-role="button" data-inline="true"
                               data-icon="delete" data-theme="e" data-mini="true"
                               onclick="deleteFeed(<%= feed.id %>)">削除</a>
                        </div>
                    </div>
                    </div>
                </li>
        <% }); %>
    </script>
{% endblock %}
{# == ↑表示部分 ====================================== #}
