{% extends "base.html" %}

{# == ↓タイトル部分 ====================================== #}
{% block title %}&nbsp;|&nbsp;メイン{% endblock %}
{# == ↑タイトル部分 ====================================== #}

{# == ↓スタイルシート部分 ====================================== #}
{% block include_css %}
{% endblock %}
{# == ↑スタイルシート部分 ====================================== #}

{# == ↓ジャバスクリプト部分 ====================================== #}
{% block include_js %}
<script type="text/javascript">
<!--
    // 年・月を変わるごとに表示
    var curYear$ = 0;
    var curMonth$ = 0;
    $(document).ready(function() {
        $("#feedUL").children("li").each(function() {


            var year = $(this).find("#pub_year").val();
            var month = $(this).find("#pub_month").val();


            if (curYear$ != year || curMonth$ != month) {
                $(this).before("<li data-role='list-divider'>" + year + "/" + month + "</li>");
                curYear$ = year;
                curMonth$ = month;
            }
        });
        logger.debug("debug message.");
    });

    $(function (){
        $(document).on('pagecreate', '#main', function(){
            //タップ
            //$(document).on('tap', '#boxName', doAction);
            //$(document).on('taphold', '#boxName', doAction2);
            // スワイプした時の動作（swipeleftでpage2viewの関数を呼び出す）
            $(document).on('swiperight', '#view', page2view);
        });
    });

    function doAction(){
        $("#popupMenu").popup("open")
    }
    function doAction2(){
        alert("を長押ししたぞ！");
    }

    // #page2へ進む
     function page2view(){
        //$.mobile.changePage('./mypage.html',{transition:"slide"});
        $.mobile.showPageLoadingMsg();
        location.href="{% url 'index' %}";
     }


    //選択したフィードを既読にする
    function readingCheck(article_id) {

        if (!startLoadingEffect("Adding...")) {
            return;
        }

        var $updateFeddForm = $('#feed-update-form');
        $('#article_id').val(article_id);

        $.ajax({
            type: 'POST',
            url: $updateFeddForm.attr('action'),
            data: $updateFeddForm.serialize(),
            dataType: "json",
            success: function(data, status) {
                if (data.result == "success") {
                    //既読マークの消込
                    var wkObj = "#img_new_" + article_id;
                    $(wkObj).remove();
                    $("feedUL").listview().listview('refresh');
                } else {
                    logger.error(data.message);
                }
            },
            error: function(XMLHttpRequest, statusText, errorThrown) {
                var errorMsg="Javascript Error:"+XMLHttpRequest.status+" "+XMLHttpRequest.statusText+", ";
                errorMsg=errorMsg+"error detail: "+errorThrown;
                logger.error(errorMsg);
            },
            complete: function() {
                finishLoadingEffect();
            }
        });
    }



//-->
</script>
{% endblock %}
{# == ↑ジャバスクリプト部分 ====================================== #}

{# == ↓表示部分 ====================================== #}

{% block content %}
    <div id="main"  data-role="page">

        {# == ボックス選択  ========== #}
        <div data-role="header" data-position="fixed" data-theme="e">
            <a href="{% url 'common_edit' %}" data-iconpos="notext" data-icon="gear" rel="external" data-inline="true">管理画面</a>
            <h1 id="boxName">{{box_name}}</h1>
            <div class="ui-btn-right" style="top: 0px;">
                <a href="#popupMenu"   style="top: 0px;"              data-role="button"  data-rel="popup"   data-transition="pop"  data-iconpos="notext" data-icon="grid" data-inline="true" data-position-to="window">ボックス選択</a>
                <a href="{% url 'account_logout' %}"style="top: 0px;" data-role="button" rel="external" data-transition="fade" data-iconpos="notext" data-icon="delete" data-inline="true">ログアウト</a>
            </div>


            {# == ↓ポップアップ内容  ========== #}
            <div data-role="popup" id="popupMenu">
              <!--<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>-->
              <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="c">
                <li data-role="divider" data-theme="e">ナビゲーションメニュー</li>
                {% for box in box_list %}
                    <li><a href="{% url 'main_select_box' box.id %}" data-ajax="false">{{box.box_name}}</a></li>
                {% endfor %}
              </ul>
            </div>
            {# == ↑ポップアップ内容  ========== #}



        </div>
        {# == フィード情報  ========== #}
        <div data-role="content">

            <!-- 既読チェック用 -->
            <form id="feed-update-form" method="post" action="{% url 'article_mark_read' %}">
                 <input type="hidden" id="article_id" name="article_id" value="" />
                 {% csrf_token %}
            </form>

            <ul data-role="listview" data-divider-theme="e" data-inset="true" data-filter="true" id="feedUL">
            {% for article in article_list %}
                <li data-theme="c">
                    <a target="_blank" href="{{article.article_address}}" onclick="readingCheck({{article.id}})">
                        <div class="ui-grid-b">
                        {% if not article.read_flg %}
                            <div class="ui-block-a"><img src="/media/drawable/new022_12.gif" style="max-width:32px;max-height:16px;" id="img_new_{{article.id}}"></div>
                        {% endif %}
                        </div><!-- /grid-a -->
                        <p class="ui-li-aside">{{article.pub_date|date:"m/d G:i"}}</p>
                        <h1>{{article.site_title}}</h1>
                        <h2>{{article.article_title}}</h2>
<!-- 以下デバック用
                        <p>
                            ArticleId={{article.id}},
                            FeedId={{article.feed_id}},
                            BoxId={{article.box_id}},
                            UserId={{article.user_id}},
                            readFlag={{article.read_flg}}
                        </p>
-->
                    </a>
                    <input type="hidden" id="pub_year" value="{{article.pub_date|date:"Y" }}" />
                    <input type="hidden" id="pub_month" value="{{article.pub_date|date:"M"}}" />



                </li>
            {% endfor %}
            </ul>
        </div>

        {# == 会社ロゴ  ========== #}
        {% include 'footer.html' %}
    </div>

{% endblock %}
{# == ↑表示部分 ====================================== #}


