{% extends "base.html" %}

{% comment %} == ↓タイトル部分 ====================================== {% endcomment %}
	{% block title %}&nbsp;|&nbsp;メイン{% endblock %}
{% comment %} == ↑タイトル部分 ====================================== {% endcomment %}

{% comment %} == ↓スタイルシート部分 ====================================== {% endcomment %}
	{% block include_css %}

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />


	{% endblock %}
{% comment %} == ↑スタイルシート部分 ====================================== {% endcomment %}



{% comment %} == ↓ジャバスクリプト部分 ====================================== {% endcomment %}
	{% block include_js %}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

		<script type="text/javascript">
			// 年・月を変わるごとに表示
			var curYear$ = 0;
			var curMonth$ = 0;
			$(document).ready(function() {
				$("#feedUL").children("li").each(function() {
					var year = $(this).find("#pub_year").val();
					var month = $(this).find("#pub_month").val();
					if (curYear$ != year || curMonth$ != month) {
						$(this).before("<li data-role='list-divider'>" + year + "/" + month + "</li>");
						curYear$ = year;
						curMonth$ = month;
					}
				});
			});

			//タップ
		    $('#main').live('pagecreate',function(){
		        $('#boxName').live('tap',doAction);
		        $('#boxName').live('taphold',doAction2);
		    });

		    function doAction(){
				$("#popupMenu").popup("open")
		    }
		    function doAction2(){
		        alert("を長押ししたぞ！");
		    }


			// スワイプした時の動作（swipeleftでpage2viewの関数を呼び出す）
			 $('#main').live('pagecreate',function(){
			 	$('#view').live('swiperight',page2view);
			 });


			// #page2へ進む
			 function page2view(){
				//$.mobile.changePage('./Mypage.html',{transition:"slide"});
				$.mobile.showPageLoadingMsg();
				location.href="./Mypage.html";
			 }







		</script>


<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>



	{% endblock %}
{% comment %} == ↑ジャバスクリプト部分 ====================================== {% endcomment %}



{% comment %} == ↓表示部分 ====================================== {% endcomment %}
{% block content %}
	<div id="main"  data-role="page">

		{% comment %} == ボックス選択  ========== {% endcomment %}
    	<div data-role="header" data-position="fixed" data-theme="e">
            <a href="/login" data-prefetch="true" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="gear" rel="external">管理画面</a>
            <h1 id="boxName">{{box_name}}</h1>

			{% comment %} == ↓ポップアップ内容  ========== {% endcomment %}
			<div data-role="popup" id="popupMenu">
				<form method="post" action="{% url 'main' %}" name="frm">
					<input type="hidden" name="box_id" value="">
					{% csrf_token %}
				</form>
			  <a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			  <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="c">
			    <li data-role="divider" data-theme="e">ナビゲーションメニュー</li>
				{% for box in box_list %}
					<li><a href="#" onclick="frm.box_id.value = '{{box.id}}';document.frm.submit();">{{box.box_name}}</a></li>
				{% endfor %}
			  </ul>
			  <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="c">
			    <li data-role="divider" data-theme="e">ナビゲーションメニュー</li>
			    <li><a href="#">メニュー項目１</a></li>
			  </ul>

			</div>
			{% comment %} == ↑ポップアップ内容  ========== {% endcomment %}


        </div>



		{% comment %} == フィード情報  ========== {% endcomment %}
		<div data-role="content">
			<ul data-role="listview" data-divider-theme="e" data-inset="true" data-filter="true" id="feedUL">
			{% for article in article_list %}
				<li data-theme="c" id="feedLI">
					<a target="_blank" href="{{article.article_address}}">
						<p class="ui-li-aside">{{article.pub_date}}</p>
						<h1>{{article.site_title}}</h1>
						<h2>{{article.article_title}}</h2>
						<p>
							ArticleId={{article.id}},
							FeedId={{article.feed_id}},
							BoxId={{article.box_id}},
							UserId={{article.user_id}},
							readFlag={{article.read_flg}}
						</p>
					</a>
					<input type="hidden" id="pub_year" value="{{article.pub_date.year}}" />
					<input type="hidden" id="pub_month" value="{{article.pub_date.month}}" />
			  	</li>
			{% endfor %}
			</ul>
		</div>


		{% comment %} == 会社ロゴ  ========== {% endcomment %}
        <div data-role="footer" data-theme="e">
        <h3>
        	<span class="rogo">
				<a href="http://www.r-jc.jp/"><img src="/media/drawable/rogo.jpg"></a>
			</span>
        </h3>
        </div>

    </div>




{% endblock %}
{% comment %} == ↑表示部分 ====================================== {% endcomment %}


