{% extends "base.html" %}

{# == ↓タイトル部分 ====================================== #}
{% block title %}&nbsp;|&nbsp;管理{% endblock %}
{# == ↑タイトル部分 ====================================== #}

{# == ↓スタイルシート部分 ====================================== #}
{% block include_css %}
<style type="text/css">
    <!--暫定後でファイルにして分ける ←なんだっけ？-->
    a[name="hed_icon"] {
      height: 100px;
    }
</style>
{% endblock %}
{# == ↑スタイルシート部分 ====================================== #}

{# == ↓ジャバスクリプト部分 ====================================== #}
{% block include_js %}
<script type="text/javascript">
<!--
    // viewport設定変更
    $(document).bind("mobileinit", function(){
        $.mobile.metaViewportContent = "width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no";
    });
//-->
</script>
{% endblock %}
{# == ↑ジャバスクリプト部分 ====================================== #}

{# == ↓表示部分 ====================================== #}
{% block content %}
    <div id="manage"  data-role="page">

        {# == ヘッダー部分  ========== #}
        <div data-role="header" data-position="fixed" data-theme="e">
            <a href="{% url 'main' %}" data-iconpos="notext" data-icon="home" rel="external">メイン画面</a>
            <h1 id="user_name">{{user.username}}</h1>
            <span class="header_icon">
                <a class="ui-btn-right">
                    <img src="/media/drawable/ic_user.png?{{ QUERY_STRING }}" alt="user_icon" style="max-width:40px;max-height:40px;top:0;left:0;">
                </a>
            </span>

        </div>

        {# == メニュー選択  ========== #}
        <div data-role="content">
            {# 各ページ遷移ボタン #}
            <a href="{% url 'common_edit'%}" data-role="button" data-icon="arrow-r" data-theme="e" data-iconpos="right" data-transition="slide">フィードを管理</a>
            <a href="{% url 'account_logout' %}" data-role="button" data-icon="arrow-r" data-theme="e" data-iconpos="right" data-transition="fade">ログアウト</a>

        </div>

        {# == 会社ロゴ  ========== #}
        {% include 'footer.html' %}
    </div>
{% endblock %}
{# == ↑表示部分 ====================================== #}
