{% extends "base.html" %}

{% comment %} == ↓タイトル部分 ====================================== {% endcomment %}
    {% block title %}&nbsp;|&nbsp;フィード検索{% endblock %}
{% comment %} == ↑タイトル部分 ====================================== {% endcomment %}

{% comment %} == ↓スタイルシート部分 ====================================== {% endcomment %}
    {% block include_css %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% endblock %}
{% comment %} == ↑スタイルシート部分 ====================================== {% endcomment %}
{% comment %} == ↓ジャバスクリプト部分 ====================================== {% endcomment %}
    {% block include_js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    {% endblock %}
    {% block include_rear_js %}
    <script type="text/javascript">
        google.load("feeds", "1");

        // 検索開始 (Google findFeeds)
        $(document).ready(function() {
            $(".search_box").bind("change",function(event, ui) {
                var searchTxt = $(this).val();
                alert("検索値：" + searchTxt);
                google.feeds.findFeeds(searchTxt, dispFeed);
            });
        });
        
        // 検索結果 (Google findFeeds)
        function dispFeed(result) {
            if (!result.error){
                // エラーが発生していない場合の処理
                if (0 < result.entries.length) {
                    $(".feed_list_ul").empty();

                    for (var i = 0; i < result.entries.length; i++) {
                        var title = result.entries[i].title;
                        var link = result.entries[i].link;
                        var contentSnippet = result.entries[i].contentSnippet;
                        var url = result.entries[i].url;
                        
                        var tag = "<li data-theme=\"c\" id=\"feedLI\" data-icon=\"plus\">" +
                                  "<a onclick=\"addFeed('#link#', '#title#')\">#title#</a>" +
                                  "</li>";
                        tag = tag.replace("#link#", link);
                        tag = tag.replace("#title#", title);
                        tag = tag.replace("#title#", title);
                        
                        $(".feed_list_ul")
                            .attr("data-role","listview")
                            .append(tag);

                        //alert(link);
                    }
                    $(".feed_list_ul")
                        .listview().listview('refresh');
                }
            }
        }
        
        var isWaiting = false;
        // タッチしたフィードをDBに追加
        function addFeed(url, title) {
            if (isWaiting) {
                alert("通信中です。しばらくお待ちください。");
                return;
            }
            isWaiting = true;
            
            $("form#feed_form #url").val(url);
            $("form#feed_form #title").val(title);
            alert("send feed." + $("form#feed_form #title").val());
            
            // フィードを追加
            $.ajax({
                url: $("form#feed_form").attr("action"),
                data: $("form#feed_form").serialize(),
                dataType: "json",
                success: function(data, status, xhr) {
                    //xhr.getResponseHeader('');
                    isWaiting = false;
                    alert(status);
                    alert(data);
                    alert(data.result);
                    //alert($("#csrfmiddlewaretoken").val());
                    if (data == null) {
                        alert("フィードの追加に失敗しました。ログインし直してください。");
                    } else if ("success" == data.result) {
                        // 成功
                        alert("フィード【" + data.title + "】の追加が完了しました。");
                    } else {
                        // 失敗
                        alert("フィード【" + data.title + "】の追加に失敗しました。暫くしてから再度お試しください。");
                    }
                },
                error: function() {
                    isWaiting = false;
                    alert("失敗！");
                }
            });
            
        }
    </script>
    {% endblock %}
{% comment %} == ↑ジャバスクリプト部分 ====================================== {% endcomment %}

{% comment %} == ↓表示部分 ====================================== {% endcomment %}
{% block content %}
    <div id="main"  data-role="page">

        {% comment %} == タイトルバー ========== {% endcomment %}
        <div data-role="header" data-position="fixed" data-theme="e">
            <a href="/main/" data-prefetch="true" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="home" rel="external">ホーム</a>
            <h1 id="title">フィード検索</h1>
            <a href="/commonEdit" data-prefetch="true" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="arrow-l" rel="external">戻る</a>
        </div> <!-- header -->

        {% comment %} == ↓検索ボックス ========== {% endcomment %}
        <div class="search_frame" >
            <input type="search" name="search" id="searc-basic" value="" data-mini="true" class="search_box" placeholder="RSS検索ワードを入力してください。" />
        </div>
        {% comment %} == ↑検索ボックス ========== {% endcomment %}

        {% comment %} == ↓フィード情報  ========== {% endcomment %}
        <div data-role="content">
            <ul data-role="listview" data-divider-theme="e" data-inset="true" 
                data-filter="true" id="feedUL" class="feed_list_ul">
            </ul>
            <form id="feed_form" action="{% url 'add_feed' %}" method="POST">
                <input type="hidden" id="url" name="url" value="" />
                <input type="hidden" id="title" name="title" value="" />
                <input type="hidden" id="box_id" name="box_id" value="{{box_id}}" />
                {% csrf_token %}
            </form>
        </div>
        {% comment %} == ↑フィード情報  ========== {% endcomment %}

        {% comment %} == 会社ロゴ  ========== {% endcomment %}
        <div data-role="footer" data-theme="e">
        <h3>
            <span class="rogo">
                <a href="http://www.r-jc.jp/"><img src="/media/drawable/rogo.jpg"></a>
            </span>
        </h3>
        </div> <!-- footer -->
    </div> <!-- main -->
{% endblock %}
{% comment %} == ↑表示部分 ====================================== {% endcomment %}
