{% extends "base.html" %}

{# == ↓タイトル部分 ====================================== #}
{% block title %}&nbsp;|&nbsp;フィード検索{% endblock %}
{# == ↑タイトル部分 ====================================== #}

{# == ↓スタイルシート部分 ====================================== #}
{% block include_css %}
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<style type="text/css">
.ui-feed-url{
    height: 1.2em;
	font-size: 80%;
	font-weight: normal;
	padding-left: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
.ui-content {
    padding: 5px;
}
</style>
{% endblock %}
{# == ↑スタイルシート部分 ====================================== #}

{# == ↓ジャバスクリプト部分 ====================================== #}
{% block include_js %}
<script src="/media/js/feed.js?{{ QUERY_STRING }}"></script>
{% endblock %}
{# == ↑ジャバスクリプト部分 ====================================== #}

{# == ↓表示部分 ====================================== #}
{% block content %}
    <div id="main"  data-role="page">

        {# == タイトルバー ========== #}
        <div data-role="header" data-position="fixed" data-theme="e">
            <div class="ui-btn-left" style="top: 0px;">
                {# ホームボタン #}
                <a href="{% url 'main' %}" style="top: 0px;" data-iconpos="notext" data-icon="home"  data-role="button" rel="external" data-inline="true">メイン画面</a>
                <a target="_blank" href="http://tech.r-jc.jp/feedknot/help/search_feed.html" style="top: 0px;" data-icon="info" data-role="button" rel="external" data-transition="fade" data-iconpos="notext" data-inline="true">ヘルプ</a>
            </div>

            {# タイトル #}
            <h1 id="title">フィード検索</h1>

            <div class="ui-btn-right" style="top: 0px;">
                {# 戻るボタン #}
                <a href="{% url 'feed_list' box_id %}"style="top: 0px;" data-role="button" rel="external" data-iconpos="notext" data-icon="back" rel="external" data-inline="true">戻る</a>
                <a href="{% url 'feedknotLogout' %}"style="top: 0px;" data-role="button" rel="external" data-transition="fade" data-iconpos="notext" data-icon="delete" data-inline="true">ログアウト</a>
            </div>
        </div> <!-- header -->

        {# == ↓ポップアップ内容  ========== #}
        <div data-role="popup" id="popupNotice">
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content" id="popupMsg">
            </div>
        </div>
        {# == ↑ポップアップ内容  ========== #}

        {# == ↓検索ボックス ========== #}
        <div data-role="content">
	        <div class="search_frame" >
	            <input type="search" name="search" id="searc-basic" value="" data-mini="true"
	             class="search_box" placeholder="RSS検索ワードを入力してください。" onchange="searchFeed(this.value);" />
	        </div>
        {# == ↑検索ボックス ========== #}

        {# == ↓フィード情報  ========== #}
            <ul data-role="listview" data-divider-theme="e" data-inset="true"
                data-filter="false" id="feedUL" class="feed_list_ul">
            </ul>
            <form id="feed_form" action="{% url 'feed_add' box_id %}" method="POST">
                <input type="hidden" id="url" name="url" value="" />
                <input type="hidden" id="title" name="title" value="" />
                <input type="hidden" id="className" name="className" value="" />
                {% csrf_token %}
            </form>
        </div>
        {# == ↑フィード情報  ========== #}

        {# == 会社ロゴ  ========== #}
        <div data-role="footer" data-position="fixed">
            {% include 'footer.html' %}
        </div>
    </div> <!-- main -->
{% endblock %}
{# == ↑表示部分 ====================================== #}
