{% extends "base.html" %}

{% comment %} == ↓タイトル部分 ====================================== {% endcomment %}
    {% block title %}&nbsp;|&nbsp;フィード検索{% endblock %}
{% comment %} == ↑タイトル部分 ====================================== {% endcomment %}

{% comment %} == ↓スタイルシート部分 ====================================== {% endcomment %}
    {% block include_css %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% endblock %}
{% comment %} == ↑スタイルシート部分 ====================================== {% endcomment %}
{% comment %} == ↓ジャバスクリプト部分 ====================================== {% endcomment %}
    {% block include_js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    {% endblock %}
    {% block include_rear_js %}
    <script type="text/javascript">
        google.load("feeds", "1");

        $(document).ready(function() {
            $(".search_box").bind("change",function(event, ui) {
                var searchTxt = $(this).val();
                //alert("検索値：" + searchTxt);
                google.feeds.findFeeds(searchTxt, dispFeed);
            });
        });
        
        function dispFeed(result) {
            if (!result.error){
                // エラーが発生していない場合の処理
                if (0 < result.entries.length) {
                    $(".feed_list").empty();

                    for (var i = 0; i < result.entries.length; i++) {
                        var title =  result.entries[i].title;
                        var link =  result.entries[i].link;
                        var contentSnippet =  result.entries[i].contentSnippet;
                        var url =  result.entries[i].url;
                        $(".feed_list")
                            .append("<a href=\">" + link + "\" data-role=\"button\">" + title + "</a>");
                        //alert(link);
                     }
                     $(".feed_list").trigger("create");
                }
            }
        }
    </script>
    {% endblock %}
{% comment %} == ↑ジャバスクリプト部分 ====================================== {% endcomment %}

{% comment %} == ↓表示部分 ====================================== {% endcomment %}
{% block content %}
    <div id="main"  data-role="page">

        {% comment %} == タイトルバー ========== {% endcomment %}
        <div data-role="header" data-position="fixed" data-theme="e">
            <a href="/main/1/0" data-prefetch="true" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="home" rel="external">ホーム</a>
            <h1 id="title">フィード検索</h1>
            <a href="/commonEdit" data-prefetch="true" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="arrow-l" rel="external">戻る</a>
        </div> <!-- header -->

        {% comment %} == ↓検索ボックス ========== {% endcomment %}
<body align="center">
    <header>
        <table cellspacing="0" class="header">
            <tr bgcolor="orange">
                <td nowrap align="center" width="20%">
                    <a href="{% url 'main' %}">
                        <img src="/media/drawable/ic_home.png" alt="home_icon" width="50" height="50">
                    </a>
                </td>
                <td nowrap align="center" width="60%">
                    <H3>フィード検索</H3>
                </td>
                <td nowrap align="center" width="20%">
                    <input type="button" value="戻る" style="width: 50px;height: 50px" onclick="location.href='{% url 'commonEdit'%}'">
                </td>
            </tr>
        </table>
    </header>
    <div id="search_teritory">
        <div class="search_frame" >
            <input type="search" name="search" id="searc-basic" value="" data-mini="true" class="search_box" placeholder="RSS検索ワードを入力してください。" />
        </div>
        {% comment %} == ↑検索ボックス ========== {% endcomment %}

        {% comment %} == ↓フィード情報  ========== {% endcomment %}
        <div class="feed_list" data-role="controlgroup">
            <a href="index.html" data-role="button">フィード名１</a>
            <a href="index.html" data-role="button">フィード名２</a>
            <a href="index.html" data-role="button">フィード名３</a>
        </div> <!-- feed_list -->
        {% comment %} == ↑フィード情報  ========== {% endcomment %}

        {% comment %} == 会社ロゴ  ========== {% endcomment %}
        <div data-role="footer" data-theme="e">
        <h3>
            <span class="rogo">
                <a href="http://www.r-jc.jp/"><img src="/media/drawable/rogo.jpg"></a>
            </span>
        </h3>
        </div> <!-- footer -->
    </div> <!-- main -->
{% endblock %}
{% comment %} == ↑表示部分 ====================================== {% endcomment %}
